nav {
  align-items: flex-end;
  background-color: rgb(12, 61, 89);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.logo {
  flex-grow: 1;
  font-family: 'Bungee', cursive;
  padding: 1.5em 1.5em;
}

.new-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1.5em 1.5em;
  padding-bottom: 10px;
}

nav div {
  display: flex;
  flex-direction: column;
}

.fa-angles-down {
  align-self: center;
  color: #44857d;
  padding: 0em 0em 0.5em;
}
