main section h2 {
  padding-bottom: 10px;
  margin: 3px;
}

main textarea {
  border-style: hidden;
  background-color: rgb(244, 241, 236);
  overflow: hidden;
  width: 83vw;
  height: 40px;
  resize: none;
  border-bottom: solid;
  border-bottom-color: #545149;
  margin-top: 6px;
  margin-bottom: 6px;
}

main section div {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  margin-bottom: 6px;
}

main section button {
  background-color: #44857d;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-family: 'Bungee', cursive;
}

main section.new-tweet {
  padding-bottom: 36px;
  padding-left: 15px;
  padding-right: 15px
}

main section .error-window {
  border: solid;
  border-color: #b14a4a;
  border-radius: 10px;
  display: flex;
  padding: 1em 1em;
  margin-bottom: 20px;
}

main section article .fa-triangle-exclamation {
  color: #b14a4a;
  align-self: center;
}

main section article .error-message {
  color: #b14a4a; 
}

.error-message {
  flex-direction: column;
  padding-left: 20px;
}

.counter {
  font-family: 'Bungee', cursive;
}

.negative-counter {
  color: red;
}

.fa-solid {
  padding-right: 10px;
}

main section i.name {
  padding-right: 625px;
}